<?xml version="1.0"?>
<robot name="braccio" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:arg name="load_transmission" default="false"/>
    <xacro:arg name="load_gazebo" default="false"/>

    <link name="world_link"/>

    <joint name="world_joint" type="fixed">
        <parent link="world_link"/>
        <child link="base_link"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>

    <!--  Fixed Link -->
    <link name="base_link">
        <visual>
            <geometry>
                <cylinder length="0.01" radius=".053" />
            </geometry>
            <material name="black">
                <color rgba="0 0 0 0.50" />
            </material>
            <origin rpy="0 0 0" xyz="0 0 0" />
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.01" radius=".053" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.1"/>
            <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
        </inertial>
        
    </link>

    <!--  Base Joint-->
    <joint name="base_joint" type="revolute">
        <axis xyz="0 0 -1" />
        <limit effort="1000.0" lower="$(eval -pi/2)" upper="$(eval pi/2)" velocity="10.0" />
        <origin xyz="0 0 0" rpy="0 0 0"  />
        <parent link="base_link" />
        <child link="braccio_base_link" />
    </joint>

    <link name="braccio_base_link">
        <visual>
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
            <material name="orange">
                <color rgba="0.57 0.17 0.0 1" />
            </material>
            <origin rpy="0 0 $(eval -pi)" xyz="0 0.004 0" />
        </visual>
        <collision>
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.1"/>
            <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
        </inertial>
    </link>

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>

    <transmission name="trans_waist">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="base_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="waist_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

</robot>