<?xml version="1.0"?>
<launch>

    <!-- Load path to model -->
    <arg name="robot_xacro" value="$(find braccio_manipulator)/urdf/braccio_arm.urdf"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg robot_xacro)"/>

    <!-- State publisher -->

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
        <param name="publish_frequency" type="double" value="30.0"/>
    </node>

    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_pub" />

    <!-- RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find braccio_manipulator)/rviz/urdf.rviz"/>

</launch>
